
:root {
    --dark-background : #181A1B;
    --grey-background : #f6f6f6;
    --footer-background : #2d2a2d;
    --dark-purple-background : rgb(62, 3, 62);
    --purple-background : #5d0a61;
    --blue-background : #2f1196;
    --img-background : #cccccc;
    --white-text : white;
    --black-text : black;
    --links-text : #61dafb;
  }
  
  .errorPage {
    margin: 0;
    padding: 0;
  }
  
  .errorMessage {
    padding-top : 5rem;
  }
  
  .errorMessage h2, a {
    font-size: 2rem;
  }
  
  .errorContent {
    height: 100vh;
    color: var(--white-text);
    text-align: center;
  }

  .generalContainer {
    background-color: black;
    display: flex;
    justify-content: center;
  }

  .generalBackground {
    background-image: url("../src/assets/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
  }