:root {
  --main-background : #FFFFFF;
  --main-shade-background : #f5f5f5ec;
  --banner-title-color: white; 
  --secondary-background : #f6f6f6;
  --footer-background : #2d2a2d;
  --third-background : rgb(62, 3, 62);
  --purple-background : #5d0a61;
  --purple-lighter-color: #8534cd;
  --blue-background : #2f1196;
  --img-background-grey : #cccccc;
  --img-background-reactive: #ddd2dd;
  --main-text-color : black;
  --secondary-text-color : white;
  --links-text-color : #61dafb;
  --planning-text-color : #FFFFFF;
  --bjj-color: #4cfa17;
  --grappling-color: #f7f717;
  --mixte-color: #f71717;
  --childs-color: #17f7f7;
  --main-banner-url: url("./../assets/logo.svg");
  --secondary-banner-url: url("./../assets/logo-b.svg");
  --banner-url: var(--main-banner-url);
}

html {
  background-color: var(--main-background);
  overflow-x: hidden;
}

ul.header-nav-ul:nth-child(1) > li:nth-last-child(1),
 ul.header-nav-ul:nth-child(2) > li:nth-last-child(1) {
  list-style: none;
}

.themeButton {
  position: absolute;
  font-size: 1.4rem;
  top: 94vh;
  right: 1.4rem;
  z-index: 5;
  background-color: var(--main-text-color);
  color: var(--secondary-text-color);
  border: none;
  box-shadow: #2d2a2d 1px 1px 6px 1px;
  border-radius: 100%;
  padding: .3rem .6rem;
  cursor: pointer;
}

.breakingNews {
  border: 2px solid red;
  background-color: #2d2a2deb;
  color: var(--secondary-text-color);
  font-size: 1.4rem;
}

.fade-in {
  transition: opacity 1s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}
.errorPage {
  margin: 0;
  padding: 0;
}

.errorMessage {
  padding-top : 5rem;
}

.errorMessage h2 {
  font-size: 2rem;
}

.errorContent {
  height: 100vh;
  color: var(--main-text-color);
  text-align: center;
}

#toggle_burgerNavBar {
  display: none;
  height: 0;
}

.burgerNavBar {
  display: inherit;
  position: fixed;
  top: 0;
}

.burgerNavBarContainer {
  display: flex;
}

#burgerNavbarToggle {
  cursor: pointer;
  color: var(--main-text-color);
  font-size: 2rem;
  padding-inline: .5rem;
  border: 1px solid var(--main-text-color);
  box-shadow: #2d2a2d 1px 1px 6px 1px;
}

.burgerIconSquared {
  border-radius: 0;
}

.burgerIconRounded {
  border-radius: 10px;
  margin-top: .5rem;
  margin-left: .5rem;
}

.hideMenu {
  display: none;
  height: 0;
  width: 0;
}

.showMenu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  width: auto;
  background-color: var(--main-shade-background);
}

.burger_links{
  display: none;
}

.show_burger_links {
  display: flex;
}

#navBar {
  display: none;
  height: 0;
}
  
.active-Navlink {
  background-color: var(--purple-background);
  text-decoration: underline;
}

.header-nav-ul {
  margin: 0;
  padding: .2rem;
  animation: zero-to-one-opacity .7s ease-in-out;
}

.header-nav-li {
  list-style: none;
  position: relative;
}

.header-nav-li a {
  border-radius: 10px;
  color: var(--main-text-color);
  text-decoration: none;
  padding: .4rem;
  display: block;
}

.header-nav-li a:hover {
  transition-duration: .20s;
  color: var(--secondary-text-color);
  background-color: var(--purple-background);
  text-decoration: underline;
}

.header-nav-li a:focus {
  color: var(--secondary-text-color);
  background-color: var(--purple-background);
  text-decoration: underline;
  outline: none;
}

.App {
  text-align: center;
  }

.app-logo {
  display: none;
  height: 0;
  transition: .3s all;
}

.app-logo:hover {
    transform: scale(1.1);
}

.App-header {
  z-index: 4;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: var(--main-text-color);
  position: fixed;
  top: 0;
  width: 100%;
}

.banner {
  height: 50vmin;
  width: auto;
  background-image: url("./../img/team_banner_min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(207, 205, 205);
  background-blend-mode: multiply;
}

.bannerTitle {
  font-size: 2.2rem;
  color: var(--banner-title-color);
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  display: inline-block;
  border-top: .25rem solid var(--banner-title-color);
  line-height: 1.6rem;
}

.video-player {
  animation: zero-to-one-opacity 2.5s ease-in-out;
}

#video-player {
  display: block;
  border: none;
  backdrop-filter: blur(10px);
}

.close-video-button {
  position: absolute;
  top: 6rem;
  right: 3rem;
  font-size: 2rem;
  color: var(--secondary-text-color);
  background-color: var(--main-text-color);
  border: none;
  border-radius: 10px;
  padding: .10rem .5rem;
  cursor: pointer;
  box-shadow: #2d2a2d 1px 1px 6px 1px;
}
.academyHistory {
  margin: 0;
  padding: 2rem;
  color: var(--main-text-color);
  font-size: 1.5rem;
  text-align: justify;
  text-justify: inter-word;
}

.homeImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.instagramLink {
  display: flex;
  justify-content: center;
  align-content: center;
 text-decoration: "underline";
 color: "black";
}

.instagramLink img {
  border-radius: 30%;
  transition: .3s all;
  mix-blend-mode: multiply;
  -webkit-filter: grayscale(100%) contrast(1.2);
  filter: grayscale(100%) contrast(1.2);
}

.instagramLink :hover {
  mix-blend-mode: multiply;
  -webkit-filter: grayscale(0%) contrast(1);
  filter: grayscale(0%) contrast(1);
}

.instagramLink-p {
  color: var(--main-text-color); 
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.instagramLink-p:hover {
  background: -webkit-linear-gradient(#c60dfe, #f741c0 , #ed702c, #ffde37);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homeImageContainer {
  height: 350px;
  width: 350px;
  margin: 1rem;
  padding: 1rem;
}

.min {
  height: 200px;
}

.partners-link img{
  margin: .5rem;
  width: 90vw;
  height: auto;
  border-radius: 10px;
  box-shadow: 8px 8px 5px rgba(19, 19, 19, 0.689)
}

.homeContainer hr {
  width : 60%;
}

.homeImage {
  object-fit: contain;
  max-height: 100%;
}

.footerList {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  background-color: var(--footer-background);
  justify-content: center;
}

.footerLi {
  list-style: none;
  position: relative;
}

.footerLink {
  color: var(--secondary-text-color);
  font-size: .8rem;
  padding: .3rem;
  display: block;
}

.footerLink:hover {
  color: var(--links-text-color);
}

.homeContainer {
  flex-direction: column;
}

.locationMap iframe{
  border: 0;
  margin-top: 5rem;
  margin-bottom: 1rem;
  width: 80vw;
  height: 40vh;
}

.generalBackground {
  background-color: var(--main-background);
  background-image: var(--banner-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

.scheduleBackground, .shopBackground {
  display: inherit;
  min-height: 100vh;
  flex-direction: column;
}

.scheduleContainer {
  margin-top: 4rem;
}

.scheduleGridContainer {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.days {
  display: none;
}

.mobile-day
{
  margin: 0;
  display: block;
  background-color: var(--purple-background);
  color: var(--secondary-text-color);
}

.schedule-title-day {
  text-transform: uppercase;
}

.bjj-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./../img/bjj-min.jpg"); 
  background-color: var(--bjj-color);
  background-blend-mode: multiply;
}

.grappling-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./../img/grappling-min.jpg"); 
  background-color: var(--grappling-color);
  background-blend-mode: multiply;
}

.mixte-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./../img/logo-min.png"); 
  background-color: var(--mixte-color);
  background-blend-mode: multiply;
}

.childs-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./../img/childs-min.jpg"); 
  background-color: var(--childs-color);
  background-blend-mode: multiply;
}

.gridItem
{
  margin: .5rem;
  width: 100%;
  height: 34vh;
}

.gridItem h3 {
  margin: 0;
  background-color: var(--purple-background);
  color: var(--secondary-text-color);
}

.gridItem p {
  padding: .5rem;
  color: var(--planning-text-color);
}

.gridItem:hover {
  cursor: pointer;
  background-color: white;
  color: var(--purple-background);
}

.gridItem p {
  text-transform: uppercase;
  font-weight: bold;
}

.vertical-text {
  display: none;
}

.morning, .midDay, .evening {
  background-color: var(--img-background-reactive);
}

.emptySlot {
  display: none;
}

.scheduleGlobalInfos {
  background-color: var(--img-background-reactive);
  margin: 1rem;
  padding: 1rem;
  max-width: 95vw;
}

.scheduleGlobalInfos h3 {
  text-transform: uppercase;
  font-weight: bold;
}

.scheduleGlobalInfos .location-icon{
  height: 4vh;
}


.shopBackground {
  justify-content: center;
}

.prices {
  margin: 1rem;
  margin-bottom: 3rem;
}

table {
  margin: auto;
  text-align: left;
  background-color: var(--secondary-background);
}

td, th {
  color: var(--main-text-color);
  border: 2px solid var(--main-text-color);
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
th {
  background: var(--purple-background);
  color: var(--secondary-text-color);
  border-radius: 0;
  padding: 1.5rem;
  font-size: 2rem;
}

tfoot > tr  {
  background: var(--main-text-color);
  color: var(--secondary-text-color);
}
tbody > tr:hover {
  background-color: var(--purple-lighter-color);
}

.registration-btn {
  background-color:var(--purple-lighter-color);
  color: var(--secondary-text-color);
  margin: 1.5rem;
  padding: 0;
  border: none;
}

.registration-btn a {
  display: block;
  background-color: var(--purple-lighter-color);
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1.5rem;
  border: 2px solid transparent;
}

.registration-btn a:hover {
  background-color: var(--secondary-text-color);
  color: var(--purple-lighter-color);
  text-decoration: underline;
  border: 2px solid var(--purple-lighter-color);
}

.section-title {
  color: var(--main-text-color);
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1.5rem;
  margin-top: 5rem;
}

.shop-flex, .partners-flex{
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.instructors-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

.headInstructors {
  grid-column-start: 1;
  grid-column-end: 4;
}

.instructorCard {
  display: flex;
  flex-direction: column;
  background-color: var(--purple-background);
  margin: auto;
  margin-top: 1.5rem;
  min-height: 95vh;
  width: 350px;
  position: relative;
  border: 2px solid var(--secondary-text-color);
}

.instructorCard-img {
 align-self: center;
 object-fit: cover;
 width: 100%;
 height: 100%;
 position: absolute;
 left: 0;
 opacity: 1;
 transition: .5s ease;
 cursor: pointer;
 box-shadow: 8px 8px 5px rgba(19, 19, 19, 0.689);
}

.instructorCard-img:hover {
  opacity: 0;
}

.instructorCard-name {
  color: var(--secondary-text-color);
  font-size: 1.8rem;
  text-decoration: underline;
  text-transform: uppercase;
}

.instructorCard-content {
  color: var(--secondary-text-color);
  font-size: 1.4rem;
  padding: 1rem;
}

.palmaresTitle {
  text-decoration: underline;
}

.palmaresContent {
  text-decoration: none;
}

.galleryBackground {
  display: inherit;
  flex-direction: column;
}

.gallery-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.galleryCard {
  background-color: var(--footer-background);
  padding: 1rem;
  margin: 1rem;
}

.galleryImage {
  height: 200px;
  width: 100%;
}

.galleryDescription {
  color: var(--secondary-text-color);
}

.legalNoticeList {
  color: var(--main-text-color);
}

.legalNoticeElement {
  width: 50%;
  margin: auto;
  padding-bottom: 2rem;
}

.privacyPolicy p, .privacyPolicy ul{
  margin: auto;
  width: 80%;
  color: var(--main-text-color);
}

@media only screen and (max-width: 300px) {
  .bannerTitle {
    font-size: 1.5rem;
    line-height: 1rem;
    border-top: .15rem solid var(--banner-title-color);
  }
}
@media only screen and (min-width: 1024px), (orientation: landscape) {

  .App-header {
    background-color: var(--main-shade-background);
    min-height: 4rem;
  }

  .header-nav-ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
  }

  .header-nav-li a {
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 1.7rem;
    padding: 1rem;
    display: block;
    border-radius: 0;
  }

  .themeButton {
    top: 1rem;
    right: 1rem;
  }

  #burgerNavBar {
    display: none;
    height: 0;
  }

  #navBar {
    display: contents;
  }
  
  .navBar {
    display: flex;
    z-index: 3;
    margin: 0;
  }

  .toggleNavbar {
    display: none;
    width: 0;
    height: 0;
  }

  .appHeaderMinimize {
    width: 10%;
    position: sticky;
    top: .3rem;
    background-color: transparent;
  }

  .margin-top-less-4 {
    margin-top: -4rem;
  }

  .banner {
    height: 110vmin;
    width: auto;
    background-attachment: fixed;
  }
  
  .bannerTitle {
    font-size: 6rem;
    line-height: 4.2rem;
    border-top: .6rem solid var(--banner-title-color);

  }

  .academyHistory {
    padding: 5rem;
  }

  .generalBackground {
  min-height: 90vh;
  }

  .section-title {
    font-size: 2rem;
  }

  .locationMap iframe{
    width: 60vw;
    height: 70vh;
  }

  .prices {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  td, th {
    padding: 2rem;
  }

  .registration-link {
    text-decoration: underline;
    align-self: center;
  }

  .app-logo {
    z-index: 10;
    display: block;
    height: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .instructors-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
  }

  .headInstructors {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin-top: 2rem;
  }

  .gallery-flex {
    flex-direction: row;
  }
  .galleryCard {
    width: 22vw;
  }

  .partners-link img{
    margin: 1rem;
    width: 50vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 8px 8px 5px rgba(19, 19, 19, 0.689)
  }

  .footerLink {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .smooth-show {
    animation-name: appear;
    animation-duration: 2s;
    animation-timing-function: "ease-in-out";
  }

.flex-wrapper {
  display: flex;
}

.scheduleGridContainer {
  margin-left: 1.5rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
}

.scheduleGlobalInfos {
  margin-top: 0;
  margin-right: 1.5rem;
  padding: 1rem;
  max-width: 15vw;
}

.gridItem {
  margin: 0;
  height: 100%;
}

.gridItem h3 {
  height: 8vh;
}

.days {
  background-color: var(--purple-background);
  color: var(--secondary-text-color);
}
.mobile-day {
  display: none;
}

.emptySlot {
  display: block;
  visibility: hidden;
}

.vertical-text {
  display: block;
  transform: rotate(-90deg);
}

}

  @keyframes appear {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  @keyframes zero-to-one-opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes one-to-zero-opacity {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
