:root {
  --dark-background : #FFFFFF;
  --grey-background : #f6f6f6;
  --footer-background : #2d2a2d;
  --dark-purple-background : rgb(62, 3, 62);
  --purple-background : #5d0a61;
  --blue-background : #2f1196;
  --img-background : #cccccc;
  --white-text : white;
  --black-text : black;
  --links-text : #61dafb;
}

html {
  background-color: var(--dark-background);
  overflow-x: hidden;
}

.breakingNews {
border: 2px solid red;
background-color: #2d2a2deb;
color:white;
font-size: 1.4rem;
}

.fade-in {
  transition: opacity 1s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}
.errorPage {
  margin: 0;
  padding: 0;
}

.errorMessage {
  padding-top : 5rem;
}

.errorMessage h2 {
  font-size: 2rem;
}

.errorContent {
  height: 100vh;
  color: var(--black-text);
  text-align: center;
}

#toggle_burgerNavBar {
  display: none;
  height: 0;
}

.burgerNavBar {
  display: inherit;
  position: fixed;
  top: 0;
}

.burgerNavBarContainer {
  display: flex;
}

#burgerNavbarToggle {
  cursor: pointer;
  border: none;
  background-color: var(--dark-background);
  color: var(--black-text);
  font-size: 3rem;
  padding-top: .5rem;
  padding-left: 1rem;
}

.hideMenu {
  display: none;
  height: 0;
  width: 0;
}

.showMenu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  width: auto;
}

.burger_links{
  display: none;
}

.show_burger_links {
  display: flex;
}

#navBar {
  display: none;
  height: 0;
}
  
.active-Navlink {
  background-color: var(--purple-background);
  text-decoration: underline;
}

.header-nav-ul {
  background-color: var(--dark-background);
  margin: 0;
  padding: .2rem;
}

.header-nav-li {
  list-style: none;
  position: relative;
}

.header-nav-li a {
  color: var(--black-text);
  text-decoration: none;
  padding: .4rem;
  display: block;
}

.header-nav-li a:hover {
  transition-duration: .20s;
  color: var(--white-text);
  background-color: var(--purple-background);
  text-decoration: underline;
}

.header-nav-li a:focus {
  color: var(--white-text);
  background-color: var(--purple-background);
  text-decoration: underline;
  outline: none;
}

a {
  color: var(--links-text);
}

.App {
  text-align: center;
  }

.App-logo {
  display: none;
  height: 0;
}

.App-header {
  background-color: var(--dark-background );
  z-index: 4;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: var(--black-text);
  position: sticky;
  top: 0;
}

.banner {
  height: 50vmin;
  width: auto;
  background-image: url("./../img/team_banner_min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(207, 205, 205);
background-blend-mode: multiply;
}

.bannerTitle {
  font-size: 2.2rem;
  color: var(--white-text);
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  display: inline-block;
  border-top: .25rem solid var(--white-text);
  line-height: 1.6rem;
}

.academyHistory {
  margin: 0;
  padding: 2rem;
  color: var(--black-text);
  font-size: 1.5rem;
  text-align: justify;
  text-justify: inter-word;
}

.homeImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.instagramLink img {
  border-radius: 30%;
  transition: .3s all;
  mix-blend-mode: multiply;
  -webkit-filter: grayscale(100%) contrast(1.2);
  filter: grayscale(100%) contrast(1.2);
}

.instagramLink :hover {
  mix-blend-mode: multiply;
  -webkit-filter: grayscale(0%) contrast(1);
  filter: grayscale(0%) contrast(1);
}

.homeImageContainer {
  height: 350px;
  width: 350px;
  margin: 1rem;
  padding: 1rem;
}

.min {
  height: 200px;
}

.partners-link img{
  margin: .5rem;
  width: 90vw;
  height: auto;
}

.homeContainer hr {
  width : 60%;
  color: white;
}

.homeImage {
  object-fit: contain;
  max-height: 100%;
}

.footerList {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  background-color: var(--footer-background);
  justify-content: center;
}

.footerLi {
  list-style: none;
  position: relative;
}

.footerLink {
  color: var(--white-text);
  font-size: .8rem;
  padding: .3rem;
  display: block;
}

.footerLink:hover {
  color: var(--links-text);
}

.generalContainer {
  background-color: white;
  display: flex;
  justify-content: center;
}

.homeContainer {
  flex-direction: column;
}

.locationMap iframe{
  border: 0;
  margin-top: 5rem;
  margin-bottom: 1rem;
  width: 80vw;
  height: 40vh;
}

.generalBackground {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

.scheduleBackground, .shopBackground {
  display: inherit;
  min-height: 100vh;
  flex-direction: column;
}
.shopBackground {
  justify-content: center;
}

.schedule-flex {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.schedule {
  margin: auto;
}

.bjj {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.grappling {
  margin-bottom: 3rem;
}


.prices {
  margin: 1rem;
  margin-bottom: 3rem;
}

table {
  margin: auto;
  text-align: left;
  background-color: var(--grey-background);
}

td, th {
  border: 2px solid var(--black-text);
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
th {
  background: var(--purple-background);
  color: white;
  border-radius: 0;
  padding: 1.5rem;
  font-size: 2rem;
}

tfoot > tr  {
  background: black;
  color: white;
}
tbody > tr:hover {
  background-color: #8534cd;
}

.registration-btn {
  background-color:#8534cd;
  color: var(--black-text);
  margin: 1.5rem;
  padding: 0;
  border: none;
}

.registration-btn a {
  display: block;
  background-color:#8534cd;
  color: var(--black-text);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1.5rem;
  border: 2px solid transparent;
}

.registration-btn a:hover {
  background-color: var(--black-text);
  color: #8534cd;
  text-decoration: underline;
  border: 2px solid #8534cd;
}

.section-title {
  color: var(--black-text);
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 2rem;
  margin-top: 5rem;
}

.shop-flex, .partners-flex{
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.instructors-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

.headInstructors {
  grid-column-start: 1;
  grid-column-end: 4;
}

.instructorCard {
  display: flex;
  flex-direction: column;
  background-color: var(--purple-background);
  margin: auto;
  margin-top: 1.5rem;
  width: 300px;
  position: relative;
  border: 2px solid var(--black-text);
}

.instructorCard-img {
 align-self: center;
 object-fit: cover;
 width: 100%;
 height: 100%;
 position: absolute;
 left: 0;
 opacity: 1;
 transition: .5s ease;
 cursor: pointer;
}

.instructorCard-img:hover {
  opacity: 0;
}

.instructorCard-name {
  color: var(--white-text);
  font-size: 1.8rem;
  text-decoration: underline;
  text-transform: uppercase;
}

.instructorCard-content {
  color: var(--white-text);
  font-size: 1.4rem;
  padding: 1rem;
}

.galleryBackground {
  display: inherit;
  flex-direction: column;
}

.gallery-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.galleryCard {
  background-color: #2d2a2d;
  padding: 1rem;
  margin: 1rem;
}

.galleryImage {
  height: 200px;
  width: 100%;
}

.galleryDescription {
  color: var(--black-text);
}

.legalNoticeList {
  color: var(--black-text);
}

.legalNoticeElement {
  width: 50%;
  margin: auto;
  padding-bottom: 2rem;
}

.privacyPolicy p, .privacyPolicy ul{
  margin: auto;
  width: 80%;
  color: var(--black-text);
}

@media only screen and (max-width: 300px) {
  .bannerTitle {
    font-size: 1.5rem;
    line-height: 1rem;
    border-top: .15rem solid var(--white-text);
  }
}
@media only screen and (min-width: 1024px), (orientation: landscape) {

  .App-header {
    min-height: 4rem;
  }

  .header-nav-ul {
    display: inherit;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: .5rem;
  }

  .header-nav-li a {
    color: var(--black-text);
    text-decoration: none;
    font-size: 1.7rem;
    padding: 1rem;
    display: block;
  }

  #burgerNavBar {
    display: none;
    height: 0;
  }

  #navBar {
    display: contents;
  }
  
  .navBar {
    display: flex;
    z-index: 3;
    margin: 0;
  }

  .banner {
    height: 110vmin;
    width: auto;
    background-attachment: fixed;
  }
  
  .bannerTitle {
    font-size: 6rem;
    line-height: 4.2rem;
    border-top: .6rem solid var(--white-text);

  }

  .academyHistory {
    padding: 5rem;
  }

  .generalBackground {
  min-height: 90vh;
  padding-bottom: 3rem;
}

.locationMap iframe{
  width: 60vw;
  height: 70vh;
}

  .schedule-flex {
  margin-top: 5rem;
  flex-direction: row;
  align-items: center;
  }

  .prices {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  .grappling, .bjj {
    margin: auto;
  }

  .grappling {
    margin-top: 0;
  }

  td, th {
    padding: 2rem;
  }

  .grappling td, .bjj td {
    padding: 3.5rem;
    font-size: 1.5rem;
  }

  .registration-link {
    text-decoration: underline;
    align-self: center;
    position: absolute;
    top: 0;
    right: 0;
  }

  .App-logo {
    display: block;
    min-height: 4rem;
    pointer-events: none;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .instructors-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
  }

  .headInstructors {
    display: flex;
    flex-direction: row;
    width: 80vw;
  }

  .headInstructors .instructorCard {
    width: 350px;
    margin: auto;
  }

  .gallery-flex {
    flex-direction: row;
  }
  .galleryCard {
    width: 22vw;
  }

  .partners-link img{
    margin: 1rem;
    width: 50vw;
    height: auto;
  }

  .footerLink {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .smooth-show {
    animation-name: appear;
    animation-duration: 2s;
    animation-timing-function: "ease-in-out";
  }
  
  @keyframes appear {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
}  